NAME                                                              READY   STATUS      RESTARTS   AGE
ad471ac0746748b0bd0cf116648cb997016f49e024f2312e24c8ad69459scbd   0/1     Completed   0          5m36s
enterprise-metrics-controller-manager-fd88b8f6b-kdk42             2/2     Running     0          5m23s
io-patrickabrennan-enterprise-metrics-controller-bundle-v1-5-6    1/1     Running     0          5m50s
ocp-test-gem-enterprise-metrics-admin-api-7c787bb666-bl6dp        1/1     Running     0          4m2s
ocp-test-gem-enterprise-metrics-admin-api-7c787bb666-mts9t        1/1     Running     0          4m2s
ocp-test-gem-enterprise-metrics-admin-api-7c787bb666-qx7hg        1/1     Running     0          4m2s
ocp-test-gem-enterprise-metrics-alertmanager-0                    0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-compactor-0                       0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-distributor-5494c75bfc-68qmt      0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-distributor-5494c75bfc-7xk68      0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-distributor-5494c75bfc-9wvfb      0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-distributor-5494c75bfc-fkbns      0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-distributor-5494c75bfc-fq28f      0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-distributor-5494c75bfc-gtpkk      0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-distributor-5494c75bfc-jwqkq      0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-distributor-5494c75bfc-nt49g      0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-distributor-5494c75bfc-pr2m9      0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-distributor-5494c75bfc-r6md6      0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-distributor-5494c75bfc-szfh5      0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-distributor-5494c75bfc-vhc2x      0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-distributor-5494c75bfc-vrhch      0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-distributor-5494c75bfc-xdjf6      0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-distributor-5494c75bfc-xngmh      0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-gateway-9df79598d-488c9           0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-gateway-9df79598d-8jqmq           1/1     Running     0          4m2s
ocp-test-gem-enterprise-metrics-gateway-9df79598d-bxvtl           0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-gateway-9df79598d-f56zc           0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-gateway-9df79598d-fg274           0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-gateway-9df79598d-jj7qb           0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-gateway-9df79598d-m7h7q           1/1     Running     0          4m2s
ocp-test-gem-enterprise-metrics-gateway-9df79598d-xnkkb           0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-ingester-0                        0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-overrides-exporter-dbff659qvmcx   1/1     Running     1          4m2s
ocp-test-gem-enterprise-metrics-querier-7d85cfd7c7-7ww4c          0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-querier-7d85cfd7c7-c2n4k          0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-querier-7d85cfd7c7-cskmq          0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-querier-7d85cfd7c7-hkrrc          0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-querier-7d85cfd7c7-jk7f4          0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-querier-7d85cfd7c7-pkt6d          0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-query-frontend-cf8cdbc8-hh75p     0/1     Running     2          4m2s
ocp-test-gem-enterprise-metrics-query-frontend-cf8cdbc8-lsrpw     0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-ruler-7b6764959c-pqdf9            1/1     Running     2          4m2s
ocp-test-gem-enterprise-metrics-ruler-7b6764959c-rctzv            1/1     Running     0          4m2s
ocp-test-gem-enterprise-metrics-store-gateway-0                   0/1     Pending     0          4m2s
ocp-test-gem-enterprise-metrics-tokengen-l2c8d                    0/1     Completed   1          4m2s
ocp-test-gem-memcached-0                                          0/2     Pending     0          4m2s
ocp-test-gem-memcached-metadata-0                                 2/2     Running     0          4m2s
ocp-test-gem-memcached-queries-0                                  2/2     Running     0          4m2s
ocp-test-gem-memcached-queries-1                                  0/2     Pending     0          3m51s
ocp-test-gem-minio-6cbcddf875-jntgg                               1/1     Running     0          4m2s
